<body class="bg-white md:bg-gray-400 p-0 pt-14 md:p-4 lg:pt-5 lg:p-4">
  <div class="container mx-auto p-4 bg-white md:shadow-md md:rounded-md">
    <h2 class="text-2xl font-semibold mb-4">Administrador de Productos</h2>

    <div class="flex justify-end my-3">
      <button class="bg-green-500 text-white px-4 py-2 rounded-md flex items-center" (click)="showModal(action.ADD)">
        <i class="fas fa-plus-circle mr-2"></i>
        Agregar Producto
      </button>
    </div>

    <div class="flex flex-col lg:flex-row lg:justify-between mb-2">
      <div class="w-2/5 flex items-center space-y-4 space-x-4 lg:space-y-0 lg:space-x-4 order-2 lg:order-1">
        <label for="showProducts" class="text-gray-700 font-semibold text-sm">Cantidad de Productos:</label>
        <select [(ngModel)]="cantElementPagination" id="showProducts"
          class="border border-gray-300 rounded-md p-1 w-24">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
        </select>
      </div>

      <div class="w-3/5 lg:w-auto flex flex-col lg:flex-row items-start lg:items-end lg:space-x-4  order-1 lg:order-2">
        <div class="mb-4 lg:mb-0 flex flex-col lg:flex-row items-center lg:space-x-4 space-y-3 lg:space-y-0">
          <div class="relative">
            <input type="text" placeholder="Nombre"
              class="w-80 lg:w-48 font-semibold text-xs py-2  px-3 rounded-md border focus:outline-none focus:ring focus:border-blue-100"
              [(ngModel)]='filterName'>
            <span class="absolute right-3 top-1/2 transform -translate-y-1/2">
              <i class="fa-solid fa-box-archive text-gray-600"></i>
            </span>
          </div>

          <div class="relative">
            <input type="text" placeholder="Categoría"
              class="w-80 lg:w-48 font-semibold text-xs py-2 px-3 rounded-md border focus:outline-none focus:ring focus:border-blue-100"
              [(ngModel)]='filterCategory'>
            <span class="absolute right-3 top-1/2 transform -translate-y-1/2">
              <i class="fa-solid fa-layer-group text-gray-600"></i>
            </span>
          </div>
        </div>

        <button (click)="clearFilters()"
          class="font-semibold bg-blue-500 text-xs text-white py-3 px-2 xl:px-8 rounded-md focus:outline-none hover:bg-blue-600">
          <i class="fa-solid fa-filter text-white-600 pr-1 lg:pr-2"></i>
          Limpiar
        </button>
      </div>
    </div>

    <table class="min-w-full bg-gray-300 border border-gray-300 rounded-md overflow-hidden text-left">
      <thead class="bg-gray-400 text-left">
        <tr>
          <th class="py-1 px-2 lg:py-2 lg:px-4 border-b text-sm lg:text-md">ID</th>
          <th class="py-1 px-2 lg:py-2 lg:px-4 border-b hidden lg:table-cell text-sm lg:text-md">Imagen</th>
          <th class="py-1 px-2 lg:py-2 lg:px-4 border-b text-sm lg:text-md">Producto</th>
          <th class="py-1 px-2 lg:py-2 lg:px-4 border-b hidden md:table-cell text-sm lg:text-md">Categoría</th>
          <th class="py-1 px-2 lg:py-2 lg:px-4 border-b hidden md:table-cell text-sm lg:text-md">Precio</th>
          <th class="py-1 px-2 lg:py-2 lg:px-4 border-b hidden md:table-cell text-sm lg:text-md">Fecha Publicación</th>
          <th class="py-1 px-2 lg:py-2 lg:px-4 border-b lg:table-cell text-sm lg:text-md">Stock</th>
          <th class="py-1 px-2 lg:py-2 lg:px-4 border-b actions text-sm lg:text-md">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of obtenerElementosDePagina()" class="hover:bg-gray-50" style="cursor: pointer;">
          <td style="text-shadow: 2px 2px #000000ce;"
            class="py-1 px-2 lg:py-2 lg:px-4 border-b bg-gray-600 font-bold text-white text-sm lg:text-md">{{item?.id}}</td>
          <td class="flex justify-center border-b hidden lg:table-cell bg-white" align="center">
            <img [src]="item.img[0] != '' ? item.img : 'https://via.placeholder.com/150'" alt="product"
              class="object-center aspect-square w-12">
          </td>
          <td class="py-1 px-2 lg:py-2 lg:px-4 border-b text-xs md:text-sm lg:text-md">{{item.name}}</td>
          <td class="py-1 px-2 lg:py-2 lg:px-4 border-b hidden md:table-cell text-sm lg:text-md">{{item.category}}</td>
          <td style="text-shadow: 2px 2px #000000ce;"
            class="py-1 px-2 lg:py-2 lg:px-4 border-b font-bold text-green-400 bg-gray-600 hidden md:table-cell text-sm lg:text-md">
            $ {{item.price}}
          </td>
          <td class="py-1 px-2 lg:py-2 lg:px-4 border-b hidden md:table-cell text-sm lg:text-md">{{item.discharge_date}}</td>
          <td style="text-shadow: 2px 2px #000000ce;"
            class="py-1 px-2 lg:py-2 lg:px-4 border-b font-bold text-green-400 bg-gray-600 md:table-cell text-sm lg:text-md">
            <span [ngClass]="item.stock < 30 ? 'text-red-400' : 'text-green-400'">
              <i *ngIf="item.stock > 30" class="fa-solid fa-angles-up"></i>
              <i *ngIf="item.stock <= 30" class="fa-solid fa-angles-down"></i>
              {{item.stock}}
            </span>
          </td>
          <td class="border-b actions bg-white text-center text-sm lg:text-md space-x-2">
            <button (click)="showModal(action.VIEW,item)"
              class="text-blue-500 hover:text-blue-900 focus:outline-none">
              <i class="fa-solid fa-eye"></i>
            </button>
            <button class="text-yellow-500 hover:text-yellow-700 focus:outline-none"
              (click)="showModal(action.PUT,item)">
              <i class="fas fa-pencil-alt"></i>
            </button>
            <button class="text-red-500 hover:text-red-700 focus:outline-none"
              (click)="showModal(action.DEL,item)">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="flex justify-center mt-4">
      <div class="flex">
        <a class="py-1 px-2 border border-gray-300 cursor-pointer text-md lg:text-md"
          [style.pointer-events]="paginationView === 1 ? 'none' : 'auto'"
          (click)="cambiarPagina(paginationView - 1)">Anterior</a>
        <ng-container *ngFor="let pagina of obtenerRangoDePaginas()">
          <a class="py-1 px-3 border-t border-b border-gray-300 cursor-pointer text-xs md:text-sm"
            [ngClass]="{'bg-blue-500 text-white': pagina === paginationView}" (click)="cambiarPagina(pagina)">{{ pagina
            }}</a>
        </ng-container>
        <a class="py-1 px-2 border border-gray-300 cursor-pointer text-xs md:text-sm"
          [style.pointer-events]="paginationView === obtenerRangoDePaginas().length ? 'none' : 'auto'"
          (click)="cambiarPagina(paginationView + 1)">Siguiente</a>
      </div>
    </div>

    <app-form-product #crudFormProduct (refreshListProducts)="refreshList($event)"
      (idProductDelete)="eliminarProductList($event)" (refreshProductUpdate)="refreshProductUpdate($event)">
    </app-form-product>
  </div>
</body>