<div id="modal-datail-factura"
    class="modal fixed left-0 top-0 flex md:justify-center md:items-center bg-black bg-opacity-50 w-full h-full md:h-full overflow-y-auto hidden z-30"
    (click)="closeModal()">
    <div class="relative mx-auto max-w-4xl"  (click)="$event.stopPropagation()">
        <div class="relative bg-white md:rounded-lg shadow dark:bg-gray-700">
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h2 class="text-2xl font-semibold">Factura</h2>

                <button type="button" title="close" (click)="closeModal()"
                    class="text-black-400 bg-red-400 hover:bg-red-300 hover:text-red-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-red-700 dark:hover:text-white">
                    <i class="fa-solid fa-xmark"></i>
                    <span class="sr-only">Close</span>
                </button>
            </div>

            <div class="min-w-md mx-auto bg-white rounded p-6 shadow-md overflow-y-auto">
                <form id="formFactura" #facturaForm="ngForm">

                    <label for="state" class="mb-2 block text-sm font-semibold">Estado de Pedido:</label>

                    <select id="state" #estadoSelect
                        *ngIf="mode != 3 && !(factura?.state == 'CANCELADO' || factura?.state == 'RECIBIDO')"
                        class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 rounded shadow leading-tight focus:outline-none focus:border-blue-500"
                        name="state">
                        <option value="Seleccione Estado" selected >Seleccione Estado</option>
                        <option *ngFor="let estado of statesFacturas"                         
                                [value]="estado"                              
                                >{{ estado }}</option>
                    </select>
                    <div *ngIf="requiredSelect" class="text-danger text-sm">
                        <span>* Seleccione un estado</span>
                    </div>


                    <div class="relative" *ngIf="mode == 3">
                        <input type="text" id="email" name="email"
                            class="bg-gray-300 form-control w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                            placeholder="ejemplo@gmail.com" [value]="factura?.state" disabled />
                        <div class="pointer-events-none absolute inset-y-0 left-0 inline-flex items-center px-3">                            
                            <i class="fa-solid fa-chart-simple h-4 w-4 text-gray-400"></i>
                        </div>
                    </div>


                    <label for="email" class="mt-4 mb-2 block text-sm font-semibold">Email:</label>
                    <div class="relative">
                        <input type="text" id="email" name="email"
                            class="bg-gray-300 form-control w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                            placeholder="ejemplo@gmail.com" [value]="factura?.email" disabled />
                        <div class="pointer-events-none absolute inset-y-0 left-0 inline-flex items-center px-3">
                            <i class="fa-solid fa-at h-4 w-4 text-gray-400"></i>
                        </div>
                    </div>


                    <label for="card-full-name" class="mt-4 mb-2 block text-sm font-semibold">Nombre de
                        Comprador:</label>
                    <div class="relative">
                        <input type="text" id="card-full-name" name="card-full-name"
                            class="bg-gray-300 form-control w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm  shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                            placeholder="Nombre completo" [value]="factura?.name" disabled />
                        <div class="pointer-events-none absolute inset-y-0 left-0 inline-flex items-center px-3">
                            <i class="fa-solid fa-id-card h-4 w-4 text-gray-400"></i>
                        </div>
                    </div>

                    <label for="address" class="mt-4 mb-2 block text-sm font-semibold">Direccion de Envio:</label>
                    <div class="flex flex-col sm:flex-row">

                        <div class="relative flex-shrink-0  md:w-7/12">
                            <input type="text" id="address" name="address"
                                class="bg-gray-300 form-control w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                                placeholder="Dirección" [value]="factura?.address" disabled />
                            <div class="pointer-events-none absolute inset-y-0 left-0 inline-flex items-center px-3">
                                <img class="h-4 w-4 object-contain"
                                    src="https://flagpack.xyz/_nuxt/fb2ecacab7ac7d12e740ac8eac3a0fe7.svg" alt="" />
                            </div>
                        </div>

                        <input type="text" name="`cp"
                            class="bg-gray-300 form-control flex-shrink-0 rounded-md border border-gray-200 ml-1  text-sm shadow-sm outline-none sm:w-2/6 focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                            placeholder="Codigo Postal" [value]="factura?.cp" disabled />
                    </div>

                    <div class="mt-6 border-t border-b py-2">
                        <div class="flex items-center justify-between">
                            <p class="text-base font-semibold text-gray-900">Subtotal</p>
                            <p class="font-semibold text-gray-900">${{factura?.subtotal}}</p>
                        </div>
                    </div>
                    <div class="mt-6 flex items-center justify-between">
                        <p class="text-2xl font-semibold text-gray-900">Total</p>
                        <p class="text-2xl font-bold text-green-600">${{factura?.total}}</p>
                    </div>


                    <div class="flex justify-end pt-5">
                        <button 
                            (click)="action()"
                            *ngIf="mode != 3" 
                            class="text-white inline-flex items-center bg-green-500 
                            hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-blue-300 
                            font-medium rounded-lg text-sm px-10 py-2.5 text-center dark:bg-blue-600 
                            dark:hover:bg-blue-700 dark:focus:ring-blue-800 ml-3"
                            [ngClass]=""
                            >

                           {{mode == 2 ? ' Elimino' : ' Cambiar Estado'}}
                        </button>

                        <button (click)="closeModal()"
                            class="text-white inline-flex items-center bg-red-500 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-10 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 ml-3">                            
                            Cerrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>