<body class="overflow-hidden py-2 px-2 sm:px-4 lg:px-4 lg:py-2 2xl:px-6 2xl:py-4">
    <div class="p-3 sm:p-4 lg:p-8 2xl:mt-10 2xl:m-6 flex flex-col gap-4 sm:gap-6 bg-gray-200 bg-opacity-80 rounded-lg">
        
        <!-- Header de Preparación de Pedido -->
        <div class="flex flex-col bg-gray-100 bg-opacity-60 rounded-md mt-12 lg:mt-0 py-1 sm:py-2 lg:py-4 sm:flex-row px-2 sm:px-4 lg:px-10">
            <a href="#" class="py-1  pt-4 md:pt-2 text-xl sm:text-lg lg:text-xl 2xl:text-2xl w-full text-center sm:w-auto">Preparación de Pedido</a>
            <div class="mt-4 py-2 px-2 mb-2 md:mb-0 md:px-0 text-xs sm:text-sm md:text-base sm:mt-0 sm:ml-auto">
                <div class="relative">
                    <ul class="relative flex w-full items-center justify-around sm:justify-between sm:space-x-2 lg:space-x-3">
                        
                        <!-- Paso 1: Carrito de Compra -->
                        <li class="flex items-center hover:cursor-pointer">
                            <a routerLink="/dashboard/shopping-cart" class="flex flex-row justify-center items-center text-center gap-1 sm:gap-4">
                                <span
                                    class="text-xs flex h-4 w-4 lg:h-6 lg:w-6 items-center justify-center rounded-full bg-emerald-500 font-semibold text-white ring ring-emerald-500 ring-offset-2">
                                    1
                                </span>
                                <span class="text-xs lg:text-base text-emerald-600">Carrito de Compra</span>
                            </a>
                        </li>
                        
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400 hidden sm:inline-block" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                        </svg>

                        <!-- Paso 2: Datos de Envío -->
                        <li class="flex items-center space-x-3 text-left  cursor-pointer">
                            <a [routerLink]="cartEmpty ? '/dashboard/shopping-cart' : '/dashboard/payment-form' "
                                class="flex flex-row justify-center items-center text-center  gap-1 sm:gap-4">
                                <span
                                    class="text-xs flex h-4 w-4 lg:h-6 lg:w-6 items-center justify-center rounded-full bg-gray-400 font-semibold text-white">
                                    2
                                </span>
                                <span class="text-xs lg:text-base">Datos de Envio</span>
                            </a>
                        </li>

                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400 hidden sm:inline-block" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                        </svg>

                        <!-- Paso 3: Pago -->
                        <li class="flex items-center space-x-3 text-left">
                            <a class="flex flex-row justify-center items-center text-center  gap-1 sm:gap-4 cursor-default">
                                <span
                                    class="text-xs flex h-4 w-4 lg:h-6 lg:w-6 items-center justify-center rounded-full bg-gray-400 font-semibold text-white">
                                    3
                                </span>
                                <span class="text-xs lg:text-base">Pago</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Información del Carrito -->
        <div class="bg-gray-100 bg-opacity-60 rounded-lg">
            <app-cart-info></app-cart-info>
        </div>
    </div>
</body>

