<!-- ? Banner Store -->
<app-banner-store *ngIf="this.isStore && this.showBanner"></app-banner-store>

<!-- ? Explore (Categories Filter) -->
<app-explore (categoryItemEvent)="filterCategoryExplorer($event)"></app-explore>

<hr class="mb-8">

<!-- ? Filters Products -->
<header class="bg-gray-200 p-4 sm:p-6 rounded-lg" *ngIf="this.isStore">
  <div class="container mx-auto flex flex-col md:flex-row items-center justify-between">
    <h3 class="text-2xl md:text-sm lg:text-xl 2xl:text-2xl font-medium mb-4 md:mb-0 md:text-center md:w-auto">
      Filtros de productos
    </h3>

    <div class="flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-4 w-full md:w-auto">
      <div class="relative w-full md:w-auto">
        <input type="text" placeholder="Nombre"
          class="w-full md:w-64 text-sm 2xl:text-md font-medium py-2 px-3 rounded-md border focus:outline-none focus:ring focus:border-blue-300"
          [(ngModel)]="filterName" />
        <span class="absolute right-3 top-1/2 transform -translate-y-1/2">
          <i class="fa-solid fa-box-archive text-gray-600"></i>
        </span>
      </div>

      <div class="relative w-full md:w-auto">
        <input type="text" placeholder="Categoría"
          class="w-full md:w-64 text-sm 2xl:text-md font-medium py-2 px-3 rounded-md border focus:outline-none focus:ring focus:border-blue-300"
          [(ngModel)]="filterCategory" />
        <span class="absolute right-3 top-1/2 transform -translate-y-1/2">
          <i class="fas fa-tags text-gray-600"></i>
        </span>
      </div>

      <button (click)="clearFilters()"
        class="w-full md:w-auto text-xs lg:text-sm 2xl:text-md bg-blue-500 text-white py-2 px-6 sm:px-8 rounded focus:outline-none hover:bg-blue-600 transition">
        <i class="fa-solid fa-filter text-white pr-2"></i>
        Limpiar Filtros
      </button>
    </div>
  </div>
</header>

<!-- ? Product List -->
<ng-container *ngIf="loading && !obtenerElementosDePagina(); else content">
  <section class="text-gray-800 body-font animate-pulse">
    <div class="container  px-10 py-10 mx-auto">
      <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-1">
        <div *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]" class="p-2">
          <div
            class="border-2 border-gray-300 rounded-lg overflow-hidden hover:shadow-xl transition duration-300 cursor-pointer">
            <div class="h-48 bg-gray-200"></div>
            <div class="p-4">
              <div class="h-4 bg-gray-400 rounded-full mb-2.5"></div>
              <div class="h-3 bg-gray-400 rounded-full mb-2.5"></div>
              <div class="h-3 bg-gray-400 rounded-full mb-2.5"></div>
              <div class="h-3 bg-gray-400 rounded-full mb-2.5"></div>
              <div class="h-4 bg-gray-400 rounded-full mb-1.5"></div>
              <div class="h-8 bg-gray-200 rounded-md"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>

<ng-template #content>
  <section class="text-gray-800 body-font">
    <div class="container px-8 lg:px-10 py-10 mx-auto">

      <div class="flex justify-center mt-4" *ngIf="this.isStore">
        <div class="flex space-x-1">
          <!-- ? Left Btn -->
          <a class="py-2 px-4 border border-gray-300 rounded-l-lg cursor-pointer text-sm 2xl::text-md bg-white text-gray-800 hover:bg-blue-500 hover:text-gray-100 transition"
             [style.pointer-events]="paginationView === 1 ? 'none' : 'auto'"
             [ngClass]="{'bg-gray-200 cursor-not-allowed': paginationView === 1}"
             (click)="cambiarPagina(paginationView - 1)">
            Anterior
          </a>
          
          <!-- ? Pagination -->
          <ng-container *ngFor="let pagina of obtenerRangoDePaginas()">
            <a class="py-2 px-4 border-t border-b border-gray-300 cursor-pointer text-sm md:text-md bg-white text-gray-600 hover:bg-blue-500 hover:text-white transition"
               [ngClass]="{'text-black bg-blue-300': pagina === paginationView, 'rounded-none': true}"
               (click)="cambiarPagina(pagina)">
              {{ pagina }}
            </a>
          </ng-container>
          
          <!-- ? Right Btn -->
          <a class="py-2 px-4 border border-gray-300 rounded-r-lg cursor-pointer text-sm 2xl::text-md bg-white text-gray-800 hover:bg-blue-500 hover:text-gray-100 transition"
             [style.pointer-events]="paginationView === obtenerRangoDePaginas().length ? 'none' : 'auto'"
             [ngClass]="{'bg-gray-200 cursor-not-allowed': paginationView === obtenerRangoDePaginas().length}"
             (click)="cambiarPagina(paginationView + 1)">
            Siguiente
          </a>
        </div>
      </div>
      
      <!-- ? Products List -->
      <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-1">
        <div *ngFor="let item of obtenerElementosDePagina()" class="p-2">
          <div
          class="img-content h-96 rounded overflow-hidden transition duration-300 hover:transform hover:scale-110 transition">
          <a class="flex justify-center h-48 overflow-hidden cursor-pointer"
              [routerLink]="['/store/item/', item?.id]">
              <img alt="ecommerce" class="object-contain w-auto pt-5"
                [src]="item.img[0] ? item.img[0] : 'https://dummyimage.com/420x260'" [alt]="item.name"
                [title]="item.name">
            </a>
            
            <div class=" px-1 h-36 flex flex-col justify-between">
              <h3 class="w-full text-gray-500 text-xs tracking-widest flex justify-between">
                <a class="mr-auto font-medium">{{item.category}}</a>
                <a class="text-green-600 font-medium">${{item.price.toLocaleString('es-ES')}}</a>
              </h3>

              <h2 class="text-gray-900 text-sm capitalize">{{item.name}}</h2>

              <button
                class="w-full text-xs h-8 tracking-widest text-white bg-blue-800 bg-opacity-75 hover:bg-opacity-100 px-4 py-1 rounded"
                [routerLink]="['item/', item?.id]">Ver Producto</button>
            </div>
          </div>
        </div>
      </div>

      <!-- ? Nav -->
      <div class="flex justify-center mt-4" *ngIf="this.isStore">
        <div class="flex space-x-1">
          <!-- ? Left Btn -->
          <a class="py-2 px-4 border border-gray-300 rounded-l-lg cursor-pointer text-sm 2xl::text-md bg-white text-gray-800 hover:bg-blue-500 hover:text-gray-100 transition"
             [style.pointer-events]="paginationView === 1 ? 'none' : 'auto'"
             [ngClass]="{'bg-gray-200 cursor-not-allowed': paginationView === 1}"
             (click)="cambiarPagina(paginationView - 1)">
            Anterior
          </a>
          
          <!-- ? Pagination -->
          <ng-container *ngFor="let pagina of obtenerRangoDePaginas()">
            <a class="py-2 px-4 border-t border-b border-gray-300 cursor-pointer text-sm md:text-md bg-white text-gray-600 hover:bg-blue-500 hover:text-white transition"
               [ngClass]="{'text-black bg-blue-300': pagina === paginationView, 'rounded-none': true}"
               (click)="cambiarPagina(pagina)">
              {{ pagina }}
            </a>
          </ng-container>
          
          <!-- ? Right Btn -->
          <a class="py-2 px-4 border border-gray-300 rounded-r-lg cursor-pointer text-sm 2xl::text-md bg-white text-gray-800 hover:bg-blue-500 hover:text-gray-100 transition"
             [style.pointer-events]="paginationView === obtenerRangoDePaginas().length ? 'none' : 'auto'"
             [ngClass]="{'bg-gray-200 cursor-not-allowed': paginationView === obtenerRangoDePaginas().length}"
             (click)="cambiarPagina(paginationView + 1)">
            Siguiente
          </a>
        </div>
      </div>
    </div>
  </section>
</ng-template>