<app-banner-store></app-banner-store>

<header class="bg-gray-200 p-6 shadow-md">
  <div class="container mx-auto flex flex-col md:flex-row items-center justify-between">

    <h1 class="text-2xl font-semibold mb-4 md:mb-0 md:text-center md:w-auto">Filtro de productos</h1>

    <div class="flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-4">
      <div class="relative">
        <input type="text" placeholder="Nombre"
          class="font-semibold py-2 px-3 rounded-md border focus:outline-none focus:ring focus:border-blue-100"
          [(ngModel)]='filterName'>
        <span class="absolute right-3 top-1/2 transform -translate-y-1/2">
          <i class="fa-solid fa-box-archive text-gray-600"></i>
        </span>
      </div>

      <div class="relative">
        <input type="text" placeholder="Categoría"
          class="font-semibold py-2 px-3 rounded-md border focus:outline-none focus:ring focus:border-blue-100"
          [(ngModel)]='filterCategory'>
        <span class="absolute right-3 top-1/2 transform -translate-y-1/2">
          <i class="fas fa-tags text-gray-600"></i>
        </span>
      </div>

      <button (click)="clearFilters()"
        class="font-semibold bg-blue-500 text-white py-2 px-8 rounded-md focus:outline-none hover:bg-blue-600">
        <i class="fa-solid fa-filter text-white-600 pr-2"></i>
        Limpiar Filtros
      </button>
    </div>
  </div>
</header>


<ng-container *ngIf="loading; else content">
    <section class="text-gray-800 body-font bg-white animate-pulse">
    <div class="container px-5 pb-10 mx-auto">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <div *ngFor="let item of [1,2,3,4,5,6,7,8]" class="p-2">
          <div
            class="border-4 border-gray-300 rounded-lg overflow-hidden hover:shadow-xl transition duration-300 cursor-pointer">
            <div class="h-48 bg-gray-200"></div>
            <div class="p-4">
              <div class="h-4 bg-gray-400 rounded-full mb-2.5"></div>
              <div class="h-3 bg-gray-400 rounded-full mb-2.5"></div>
              <div class="h-3 bg-gray-400 rounded-full mb-2.5"></div>
              <div class="h-3 bg-gray-400 rounded-full mb-2.5"></div>
              <div class="h-4 bg-gray-400 rounded-full mb-1.5"></div>
              <div class="h-8 bg-gray-200 rounded-md"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>

<ng-template #content>
  <section class="text-gray-800 body-font bg-white">
    <div class="container px-5 pb-10 mx-auto">

      <div class="flex justify-center pt-5 mb-5">
        <div class="flex">
          <a class="py-2 px-4 border border-gray-300 rounded-l cursor-pointer"
            [style.pointer-events]="paginationView === 1 ? 'none' : 'auto'"
            (click)="cambiarPagina(paginationView - 1)">Anterior</a>
          <ng-container *ngFor="let pagina of obtenerRangoDePaginas()">
            <a class="py-2 px-4 border-t border-b border-gray-300 cursor-pointer"
              [ngClass]="{'bg-blue-500 text-white': pagina === paginationView}" (click)="cambiarPagina(pagina)">{{
              pagina }}</a>
          </ng-container>
          <a class="py-2 px-4 border border-gray-300 rounded-r cursor-pointer"
            [style.pointer-events]="paginationView === obtenerRangoDePaginas().length ? 'none' : 'auto'"
            (click)="cambiarPagina(paginationView + 1)">Siguiente</a>
        </div>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-1">

        <div *ngFor="let item of obtenerElementosDePagina()" class="p-2">
          <div
            class="h-96 border-2 border-gray-300 rounded-xl overflow-hidden hover:shadow-xl hover:shadow-[0_8px_15px_rgba(82,82,82,_1)] transition duration-300 ">
            <a class="flex justify-center h-48 overflow-hidden cursor-pointer" [routerLink]="['item/', item?.id]">
              <img alt="ecommerce" class="object-cover w-auto hover:transform hover:scale-90 transition pt-5"
                [src]="item.img[0] ? item.img[0] : 'https://dummyimage.com/420x260'" [alt]="item.name"
                [title]="item.name">
            </a>
            <div class="p-4 h-48 flex flex-col items-end">
              <h3 class="w-full text-gray-500 text-xs tracking-widest mb-1 flex justify-between">
                <a class="mr-auto">{{item.category}}</a>
                <a class="text-green-600 font-semibold">${{item.price}}</a>
              </h3>              
              <h2 class="text-gray-900 text-md font-medium  capitalize py-2">{{item.name}}</h2>
              <button
                class="w-full mt-auto bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md uppercase cursor-pointer"
                [routerLink]="['item/', item?.id]">Ver Producto</button>
            </div>
          </div>

        </div>

      </div>

      <div class="flex justify-center pt-5 mt-5">
        <div class="flex">
          <a class="py-2 px-4 border border-gray-300 rounded-l cursor-pointer"
            [style.pointer-events]="paginationView === 1 ? 'none' : 'auto'"
            (click)="cambiarPagina(paginationView - 1)">Anterior</a>
          <ng-container *ngFor="let pagina of obtenerRangoDePaginas()">
            <a class="py-2 px-4 border-t border-b border-gray-300 cursor-pointer"
              [ngClass]="{'bg-blue-500 text-white': pagina === paginationView}" (click)="cambiarPagina(pagina)">{{
              pagina }}</a>
          </ng-container>
          <a class="py-2 px-4 border border-gray-300 rounded-r cursor-pointer"
            [style.pointer-events]="paginationView === obtenerRangoDePaginas().length ? 'none' : 'auto'"
            (click)="cambiarPagina(paginationView + 1)">Siguiente</a>
        </div>
      </div>

    </div>
  </section>
</ng-template>