<footer class="text-gray-900 bg-gray-100">
  <div
    class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
    <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
          stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
          viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">Apextore</span> -->
        <img src="../../../assets/log.png" alt="" height="36px" width="178px">
      </a>
      <p class="mt-2 text-mb text-gray-500">Tienda de componentes de computacion.</p>
    </div>
    <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-mb mb-3">Procesadores</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-gray-600 hover:text-gray-800" (click)="onStore()">
              <i class="fa-solid fa-microchip"></i>
              AMD Series 7
            </a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800" (click)="onStore()">
              <i class="fa-solid fa-microchip"></i>
              AMD Series 5
            </a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800" (click)="onStore()">
              <i class="fa-solid fa-microchip"></i>
              Intel 9 Gen
            </a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800" (click)="onStore()">
              <i class="fa-solid fa-microchip"></i>
              Intel 7 Gen
            </a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-mb mb-3">Placas de Video</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-gray-600 hover:text-gray-800" (click)="onStore()">
              <i class="fa-solid fa-memory"></i>
              AMD RADEON RX6xxx
            </a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800" (click)="onStore()">
              <i class="fa-solid fa-memory"></i>
              AMD REDEON RX7xxx
            </a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800" (click)="onStore()">
              <i class="fa-solid fa-memory"></i>
              NVIDIA SERIES
            </a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-mb mb-3">Accesorios</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-gray-600 hover:text-gray-800" (click)="onStore()">
              <i class="fa-solid fa-headset"></i>
              Hyperex Cloud 2
            </a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800" (click)="onStore()">
              <i class="fa-solid fa-headset"></i>
              Hyperex Tiger
            </a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800" (click)="onStore()">
              <i class="fa-solid fa-headset"></i>
              Logitech
            </a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800" (click)="onStore()">
              <i class="fa-solid fa-headset"></i>
              Ryzen
            </a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-mb mb-3">Monitores</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-gray-600 hover:text-gray-800" (click)="onStore()">
              <i class="fa-solid fa-desktop"></i>
              Zowie 240Hz
            </a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800" (click)="onStore()">
              <i class="fa-solid fa-desktop"></i>
              Asus 240Hz
            </a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800" (click)="onStore()">
              <i class="fa-solid fa-desktop"></i>
              Asus 144Hz
            </a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800" (click)="onStore()">
              <i class="fa-solid fa-desktop"></i>
              Sansung 75Hz
            </a>
          </li>
        </nav>
      </div>
    </div>
  </div>
</footer>

<app-copyright></app-copyright>