#content-dashboard {
  /* background-color: var(--color-gray-site); */
  /* background-color: var(--color-site); */
  /* background-color: #228be6e0; */
  background-image: radial-gradient(circle, #0046b8, #003c9d, #003282, #002868, #001e4f);
}

.menu-dashboard {  
  position: absolute;
  top: 6rem;
  /* left: 0.6rem;   */
  margin-left: -0.5rem;
  /* width: 100%; */  
  background-color: var(--color-site);
  border: 1px solid #575757bd;
  box-shadow: 0 0 20px -10px black;
  border-radius: 10px;
  padding: 8px 8px;
  padding-left: 1.5rem;
  cursor: pointer;
  transition: 1s all ease;
}

.menu-dashboard:hover {
  transform: scale(1.1);
  transition: 0.3s all ease;
}

.menu-dashboard-move {
  position: absolute !important;
  background-color: red;
  top: 6rem !important;
  /* left: 68vw !important; */
  left: 16rem !important;
  transition: 1s all ease;  
}

#offCanvas {
  position: relative;
}


@media screen and (max-width: 1023px) {
  #offCanvas {
    position: absolute;
    top: 0;
    left:0;
    height: 100vh;    
    overflow-y: hidden;
  }
}