<div id="menu-dashboard" class="text-white px-4 py-2 menu-dashboard z-30 block lg:hidden" (click)="toggleMenu()">
  <i id="icon-user-shield" class="fa-solid fa-user-shield text-2xl text-white block" title="abrir"></i>
  <i id="icon-close" class="fa-solid fa-xmark mx-1 text-2xl hidden text-white" title="cerrar"></i>
</div>

<div id="content-dashboard" class="flex h-screen overflow-hidden pt-20 2xl:pt-16">
  <!-- <div id="offCanvas" class="h-full 2xl:w-3/12 hidden lg:block"> -->
  <div id="offCanvas" class="h-full w-8/12 sm:w-4/12 lg:w-1/6  hidden lg:block z-40">
    <app-dashboard-menu></app-dashboard-menu>
  </div>

  <div id="dashboard" class="h-full w-full w-auto overflow-y-auto " (click)="closeNav()">
    <app-dashboard-body></app-dashboard-body>
  </div>
</div>