<header class="text-gray-600 z-20" id="header"
    [ngClass]="router.url.split('/')[1] !== 'dashboard' ? '' : 'lg:py-1 lg:pr-3 lg:pl-2'">
    <nav class="bg-zinc-900 " [ngClass]="router.url.split('/')[1] !== 'dashboard' ? 'bg-dashboard' : 'rounded-lg'">
        <div class="w-full flex flex-wrap justify-between mx-auto py-4 px-4 md:px-6 lg:px-14 md:py-6 lg:py-2 2xl:py-4">
            <a class="flex items-center box-logo" href="/home">
                <img class="w-48 2xl:w-60" [src]="UrlService.url.logo" alt="">
            </a>

            <div class="flex">
                <div class="flex gap-6 md:order-2 md:space-x-0 rtl:space-x-reverse">
                    <div class="cursor-pointer lg:hidden" *ngIf="this.loginServ._svCurrentUserLoginOn.value"
                        (click)="onDashboard()">
                        <div class="w-11 h-11 bg-gray-200 rounded-full overflow-hidden">
                            <img [src]="this.authServ.userData?.img ? this.authServ.userData?.img : UrlService.url?.profileDefault "
                                alt="Perfil" class="w-full h-full object-cover">
                        </div>
                    </div>

                    <button data-collapse-toggle="navbar-cta" type="button"
                        class="inline-flex items-center p-2 w-11 h-11 justify-center text-sm text-gray-500 rounded lg:hidden 
                    bg-gray-100 hover:bg-gray-300 focus:bg-gray-300 focus:ring-2 focus:ring-blue-300" aria-controls="navbar-cta" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-7 h-7" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 17 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 1h15M1 7h15M1 13h15" />
                        </svg>
                    </button>
                </div>
            </div>

            <div class="hidden lg:block w-full lg:flex lg:w-auto lg:order-1 mt-3 gap-2" id="navbar-cta">

                <app-nav></app-nav>

                <div class="separator mr-5 mt-1 hidden lg:block"></div>

                <div class="flex justify-center">
                    <button (click)="navigateURL()"
                        class="text-sm 2xl:text-md h-8 tracking-widest font-medium text-white border-2  bg-opacity-50 hover:bg-opacity-75 px-4 rounded"
                        [ngClass]="this.loginServ._svCurrentUserLoginOn.value ? 'border-red-700 bg-red-700' : 'border-blue-700 bg-blue-700 px-7'">
                        {{this.loginServ._svCurrentUserLoginOn.value ? '❌ Desconectar' : '🤖 Ingresar'}}
                    </button>
                </div>

                <div class="flex justify-end mt-8 mb-3 md:mt-0">
                    <div class="px-3 cursor-pointer hidden lg:block" *ngIf="this.loginServ._svCurrentUserLoginOn.value"
                        (click)="onDashboard()" style="margin-top: -8px;" title="Mi perfil">
                        <div class="w-11 h-11 bg-gray-200 rounded-full overflow-hidden">
                            <img [src]="this.authServ.userData?.img ? this.authServ.userData?.img : UrlService.url?.profileDefault "
                                alt="Perfil" class="w-full h-full object-cover">
                        </div>
                    </div>

                    <div class="flex justify-items-end text-end">
                        <a class="ml-1 mt-2 md:mt-2"
                            [ngClass]="cartServ.cart_cant_product == 0 ? 'view-none' : 'view-info-cart'"
                            (click)="viewInfoCart()">
                            <i class="fa-solid fa-cart-shopping text-lg text-white"></i>
                            <span *ngIf="cartServ.cart_cant_product != 0" class="text-sm"
                                [ngClass]="cartServ.cart_cant_product == 0 ? 'cart-df' : 'cart'">
                                ({{cartServ.cart_cant_product}})
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>