header {
    position: absolute;
    top: 0;
    left: 0rem;
    width: 100%;

    /* z-index: 19; */
    /* background-color: #0e0e0ee3 !important; */    
    /* box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5); */
}




/* * NAV BAR */
.navbar-solid {
    position: fixed;
    transition: 0.3s all ease;
    /* background-color: #f5f5f5d5 !important; */
    background-color: #000000c7 !important;
    /*f5f5f5ec*/
    /*f5f5f5e7*/
    /* color: black; */
}

.cart {
    color: rgb(8, 223, 8);    
}

.cart-df {
    color: none;
}

.view-info-cart {
    cursor: pointer;
}

.view-info-cart:hover {
    transform: scale(1.1);
    transition: 0.7s all ease;
}

.view-info-cart:not(:hover) {
    transform: scale(1);
    transition: 0.5s all ease;
}

.view-none {
    cursor: default;
}

.truncate-text {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    overflow: hidden;
    -webkit-line-clamp: 1;
    max-width: 40%;
    text-overflow: ellipsis;
    /* color: rgb(22, 22, 192); */
}

.separator {
    width: 2px;
    height: 24px;
    background-color: #ccc;
}


@media screen and (min-width: 1024px) {}

@media screen and (min-width: 768px) and (max-width: 1023px) {}

@media screen and (max-width: 390px) {
    .box-logo img {
        height: 4vh;
        width: 35vw;    
    }
}