<body class="bg-white md:bg-gray-400 p-0 pt-14 md:p-4 lg:pt-5 lg:p-4">
    <div class="container mx-auto p-4 bg-white md:shadow-md md:rounded-md">
        <h2 class="text-2xl font-semibold mb-4">Administrador de Usuarios</h2>

        <div class="flex justify-end my-3">
            <button (click)="showModal(action.ADD)"
                class="bg-green-500 text-white px-4 py-2 rounded-md flex items-center">
                <i class="fas fa-plus-circle mr-2"></i>
                Agregar Usuario
            </button>
        </div>

        <div class="flex flex-col lg:flex-row lg:justify-between mb-2">
            <div class="w-2/5 flex items-center space-y-4 space-x-4 lg:space-y-0 lg:space-x-4 order-2 lg:order-1">
                <label for="showProducts" class="text-gray-700 font-semibold text-sm">Cantidad de Usuarios:</label>
                <select [(ngModel)]="cantElementPagination" id="showProducts"
                    class="border border-gray-300 rounded-md p-1">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>

            <div class="w-3/5 lg:w-auto flex flex-col lg:flex-row items-start lg:items-end lg:space-x-4  order-1 lg:order-2">
                <div class="mb-4 lg:mb-0 flex flex-col lg:flex-row items-start lg:items-center lg:space-x-4 space-y-3 lg:space-y-0">
                    <div class="relative">
                        <input type="text" placeholder="Correo electrónico "
                            class="w-80 lg:w-48 font-semibold text-xs py-2  px-3 rounded-md border focus:outline-none focus:ring focus:border-blue-100"
                            [(ngModel)]='filterEmail'>
                        <span class="absolute right-3 top-1/2 transform -translate-y-1/2">
                            <i class="fa-solid fa-envelope text-gray-600"></i>
                        </span>
                    </div>

                    <button (click)="clearFilters()"
                        class="w-80 lg:w-48 bg-blue-500 font-semibold text-white text-xs py-2  px-3 rounded-md border focus:outline-none focus:ring focus:border-blue-100">
                        <i class="fa-solid fa-filter text-white-600 pr-2"></i>
                        Limpiar
                    </button>
                </div>
            </div>

        </div>

        <table class="min-w-full bg-gray-300 border border-gray-300 rounded-md overflow-hidden text-left">
            <thead class="bg-gray-400">
                <tr class="text-left">
                    <th class="py-1 px-2 lg:py-2 lg:px-4 border-b text-sm lg:text-md">ID</th>
                    <th class="py-1 px-2 lg:py-2 lg:px-4 border-b text-sm lg:text-md">User Name</th>
                    <th class="py-1 px-2 lg:py-2 lg:px-4 border-b text-sm lg:text-md hidden md:table-cell">Role</th>
                    <th class="py-1 px-2 lg:py-2 lg:px-4 border-b text-sm lg:text-md hidden md:table-cell">Nombre</th>
                    <th class="py-1 px-2 lg:py-2 lg:px-4 border-b text-sm lg:text-md hidden md:table-cell">State</th>
                    <th class="py-1 px-2 lg:py-2 lg:px-4 border-b text-sm lg:text-md actions">Acciones</th>
                </tr>
            </thead>
            <tbody>

                <tr class="hover:bg-gray-50" *ngFor="let usr of obtenerElementosDePagina()">
                    <td style="text-shadow: 2px 2px #000000ce;"class="py-1 px-2 lg:py-2 lg:px-4 border-b bg-gray-600 font-bold text-white">{{usr.id}}</td>
                    <td class="py-1 px-2 lg:py-2 lg:px-4 border-b font-semibold">{{usr.username}}</td>
                    <td style="text-shadow: 2px 2px #000000ce;" class="py-1 px-2 lg:py-2 lg:px-4 border-b bg-gray-600 hidden md:table-cell">
                        <span [ngClass]="usr.role == 'ADMIN' ? 'text-red-500': 'text-blue-400'">
                            {{usr.role}}
                        </span>
                    </td>
                    <td class="py-1 px-2 lg:py-2 lg:px-4 border-b hidden md:table-cell">{{usr.firstname != null && usr.lastname != null ? usr.firstname+' '+usr.lastname : ''}}</td>
                    <td style="text-shadow: 2px 2px #000000ce;" class="py-1 px-2 lg:py-2 lg:px-2 border-b bg-gray-600 font-bold hidden md:table-cell">
                        <span [ngClass]="usr.state == 'ACTIVADO' ? 'text-green-400':'text-red-500'">
                            <i class="fa-solid fa-circle text-xs"></i>
                            {{usr.state}}
                        </span>
                    </td>
                    <td class="border-b actions bg-white text-center">
                        <button (click)="showModal(action.VIEW,usr)"
                            class="text-blue-500 hover:text-blue-900 focus:outline-none mr-3">
                            <i class="fa-solid fa-eye"></i>
                        </button>
                        <button class="text-yellow-500 hover:text-yellow-700 focus:outline-none text-lg mr-3"
                            (click)="showModal(action.PUT,usr)">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button class="text-red-500 hover:text-red-700 focus:outline-none  text-lg"
                            (click)="showModal(action.DEL,usr)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
        <div class="flex justify-center mt-4">
            <div class="flex">
                <a class="py-1 px-2 lg:py-2 lg:px-4 border border-gray-300 rounded-l cursor-pointer"
                    [style.pointer-events]="paginationView === 1 ? 'none' : 'auto'"
                    (click)="cambiarPagina(paginationView - 1)">Anterior</a>
                <ng-container *ngFor="let pagina of obtenerRangoDePaginas()">
                    <a class="py-1 px-2 lg:py-2 lg:px-4 border-t border-b border-gray-300 cursor-pointer"
                        [ngClass]="{'bg-blue-500 text-white': pagina === paginationView}"
                        (click)="cambiarPagina(pagina)">{{ pagina
                        }}</a>
                </ng-container>
                <a class="py-1 px-2 lg:py-2 lg:px-4 border border-gray-300 cursor-pointer"
                    [style.pointer-events]="paginationView === obtenerRangoDePaginas().length ? 'none' : 'auto'"
                    (click)="cambiarPagina(paginationView + 1)">Siguiente</a>
            </div>
        </div>

        <app-form-user #crudFormUser (refreshListUsers)="refreshList($event)" (idUserDelete)="eliminarUserList($event)"
            (refreshUserUpdate)="refreshUserUpdate($event)">
        </app-form-user>
    </div>
</body>