<section class="text-gray-600 body-font">
  <div class="container px-5 py-12 mx-auto flex flex-wrap">
    <div class="flex flex-wrap md:-m-2 -m-1 w-full">

      <div class="flex flex-wrap w-full md:w-1/2">

        <div class="relative md:p-2 p-1 w-full md:w-1/2 mb-4"
          (click)="onRouterLink()" (mouseover)="onHover(1)" (mouseout)="onLeave()">
          <img src="../../../../assets/img/explore/sound.webp" alt="Imagen"
            class="w-full object-cover h-full object-center block img hover:scale-105 hover:grayscale transition-all duration-300 ease-in-out cursor-pointer">
          <div *ngIf="isHovered && sonido"
            class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
            <p class="text-white p-2 rounded font-bold text-lg md:text-3xl">Sonido</p>
          </div>
        </div>

        <div class="relative md:p-2 p-1 w-full md:w-1/2 mb-4"
          (click)="onRouterLink()" (mouseover)="onHover(2)" (mouseout)="onLeave()">
          <img src="../../../../assets/img/explore/keyboard-2.webp" alt="Imagen"
            class="w-full object-cover h-full object-center block img hover:scale-105 hover:grayscale transition-all duration-300 ease-in-out cursor-pointer">
          <div *ngIf="isHovered && perifericos"
            class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
            <p class="text-white p-2 rounded font-bold text-lg md:text-3xl">Periféricos</p>
          </div>
        </div>

        <div class="relative md:p-2 p-1 w-full"
          (click)="onRouterLink()" (mouseover)="onHover(3)" (mouseout)="onLeave()">
          <img src="../../../../assets/img/explore/procesador.webp" alt="Imagen"
            class="w-full object-cover h-full object-center block img hover:scale-105 hover:grayscale transition-all duration-300 ease-in-out cursor-pointer">
          <div *ngIf="isHovered && procesadores"
            class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
            <p class="text-white p-2 rounded font-bold text-lg md:text-3xl">Procesadores</p>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap w-full md:w-1/2">

        <div class="relative md:p-2 p-1 w-full"
          (click)="onRouterLink()" (mouseover)="onHover(4)" (mouseout)="onLeave()">
          <img src="../../../../assets/img/explore/periferic.webp" alt="Imagen"
            class="w-full object-cover h-full object-center block img hover:scale-105 hover:grayscale transition-all duration-300 ease-in-out cursor-pointer">
          <div *ngIf="isHovered && gaming"
            class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
            <p class="text-white p-2 rounded font-bold text-lg md:text-3xl">Gaming</p>
          </div>
        </div>

        <div class="relative md:p-2 p-1 w-full md:w-1/2 mb-4"
          (click)="onRouterLink()" (mouseover)="onHover(5)" (mouseout)="onLeave()">
          <img src="../../../../assets/img/explore/keyboard-1.webp" alt="Imagen"
            class="w-full object-cover h-full object-center block img hover:scale-105 hover:grayscale transition-all duration-300 ease-in-out cursor-pointer">
          <div *ngIf="isHovered && rgb"
            class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
            <p class="text-white p-2 rounded font-bold text-lg md:text-3xl">RGB</p>
          </div>
        </div>

        <div class="relative md:p-2 p-1 w-full md:w-1/2"
          (click)="onRouterLink()" (mouseover)="onHover(6)" (mouseout)="onLeave()">
          <img src="../../../../assets/img/explore/rams.webp" alt="Imagen"
            class="w-full object-cover h-full object-center block img hover:scale-105 hover:grayscale transition-all duration-300 ease-in-out cursor-pointer">
          <div *ngIf="isHovered && refrigeracion"
            class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
            <p class="text-white p-2 rounded font-bold text-lg md:text-3xl">Refrigeración</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>



<!-- 
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex flex-wrap md:-m-2 -m-1">

      <div class="flex flex-wrap w-1/2">
        <div class="relative md:p-2 p-1 w-1/2 " (click)="onRouterLink()" (mouseover)="onHover(1)" (mouseout)="onLeave()">
          <img src="../../../../assets/img/explore/sound.webp" alt="Imagen"
            class="w-full object-cover h-full object-center block img hover:scale-105 hover:grayscale transition-all duration-300 ease-in-out cursor-pointer">
          <div *ngIf="isHovered && sonido"
            class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
            <p class="text-white p-2 rounded font-bold text-3xl">Sonido</p>
          </div>
        </div>

        <div class="relative md:p-2 p-1 w-1/2 " (click)="onRouterLink()" (mouseover)="onHover(2)" (mouseout)="onLeave()">
          <img src="../../../../assets/img/explore/keyboard-2.webp" alt="Imagen"
            class="w-full object-cover h-full object-center block img hover:scale-105 hover:grayscale transition-all duration-300 ease-in-out cursor-pointer">
          <div *ngIf="isHovered && perifericos"
            class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
            <p class="text-white p-2 rounded font-bold text-3xl">Periféricos</p>
          </div>
        </div>

        <div class="relative md:p-2 p-1 w-full" (click)="onRouterLink()" (mouseover)="onHover(3)" (mouseout)="onLeave()">
          <img src="../../../../assets/img/explore/procesador.webp" alt="Imagen"
            class="w-full object-cover h-full object-center block img hover:scale-105 hover:grayscale transition-all duration-300 ease-in-out cursor-pointer">
          <div *ngIf="isHovered && procesadores"
            class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
            <p class="text-white p-2 rounded font-bold text-3xl">Procesadores</p>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap w-1/2">

        <div class="relative md:p-2 p-1 w-full" (click)="onRouterLink()" (mouseover)="onHover(4)" (mouseout)="onLeave()">
          <img src="../../../../assets/img/explore/periferic.webp" alt="Imagen"
            class="w-full object-cover h-full object-center block img hover:scale-105 hover:grayscale transition-all duration-300 ease-in-out cursor-pointer">
          <div *ngIf="isHovered && gaming"
            class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
            <p class="text-white p-2 rounded font-bold text-3xl">Gaming</p>
          </div>
        </div>

        <div class="relative md:p-2 p-1 w-1/2 " (click)="onRouterLink()" (mouseover)="onHover(5)" (mouseout)="onLeave()">
          <img src="../../../../assets/img/explore/keyboard-1.webp" alt="Imagen"
            class="w-full object-cover h-full object-center block img hover:scale-105 hover:grayscale transition-all duration-300 ease-in-out cursor-pointer">
          <div *ngIf="isHovered && rgb"
            class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
            <p class="text-white p-2 rounded font-bold text-3xl">RGB</p>
          </div>
        </div>

        <div class="relative md:p-2 p-1 w-1/2 " (click)="onRouterLink()" (mouseover)="onHover(6)" (mouseout)="onLeave()">
          <img src="../../../../assets/img/explore/rams.webp" alt="Imagen"
            class="w-full object-cover h-full object-center block img hover:scale-105 hover:grayscale transition-all duration-300 ease-in-out cursor-pointer">
          <div *ngIf="isHovered && refrigeracion"
            class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
            <p class="text-white p-2 rounded font-bold text-3xl">Refrigeración</p>
          </div>
        </div>    

      </div>
    </div>
  </div>
</section>

<hr>  -->