<!-- ? Section down Slider -->
<section id="category" class="text-gray-600 body-font py-8 flex flex-col gap-8 w-full items-center">

  <!-- ? Delivery Shipping -->
  <div class="flex justify-center text-center mx-0 bg-gray-200 rounded-lg w-full" *ngIf="this.isHome || this.rutaActual == '/'">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 p-4">
      <div *ngFor="let item of data.getDataShippingHome" class="flex justify-center">
        <div class="p-4 rounded-lg flex flex-col items-center">
          <div class="flex flex-row justify-center items-center gap-3">
            <img width="40" height="40" [src]="item.icon" alt="{{ item.title }}" />
            <div class="text-left">
              <h2 class="text-black text-sm md:text-base lg:text-md font-bold uppercase">{{ item.title }}</h2>
              <p class="text-xs md:text-sm lg:text-base font-medium">{{ item.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

<!-- ? Filter Category Products -->
  <div class="flex justify-center mx-4 sm:mx-8">
    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 gap-4  w-full">
      <div *ngFor="let item of data.getDataCategoriesHome" class="flex justify-center items-center rounded-md bg-transparent hover:bg-gray-300 cursor-pointer transform hover:scale-110 transition-transform duration-200 ease-in-out  ">
        <div class="px-6 py-4 flex flex-col items-center "
             (click)="goToStoreByCategory(item.category)">
          <img class="py-4" width="60" height="60" [src]="item.icon" alt="{{ item.name }}">
          <h2 class="font-medium text-base lg:text-xl text-black">{{ item.name }}</h2>
          <p class="text-xs lg:text-sm font-medium">{{ item.category }}</p>
        </div>
      </div>
    </div>
  </div>
</section>