
<div class="body align-center flex justify-center">
    <div class="container">
        <div align="center">
            <main class="px-3">
                <p class="titulo">404</p>
                    <p class="lead">¡Ups!</p>
                    <p class="lead">No pudimos encontrar esta página...</p>
                <div id="wrapper">
 
                <div class="gears" id="two-gears">
    
                    <div class="gears-container">
                      <div class="gear-rotate"></div>
                      <div class="gear-rotate-left"></div>
                    </div>
                  </div>
                  </div>
            </main>
        </div>
    </div>
</div>