<header id="menu">
  <app-header *ngIf="dashboardUser"></app-header>
</header>

<body>
  <router-outlet></router-outlet>
</body>

<footer *ngIf="dashboardUser">
  <app-footer></app-footer>
</footer>

<span>
  <p-toast></p-toast>
</span>

<div id="icon-up" class="icon-up">
  <a href="#menu" class="back-to-top
  fixed inline-flex items-center justify-center	rounded	decoration-0 w-9 h-10 md:w-8 md:h-9 z-40">
    <span>
      <i class="fa-solid fa-arrow-up" width="2rem" height="3rem"></i>
    </span>
  </a>
</div>

<div *ngIf="ToastService.showOverlay" class="spinner-container">
  <div class="spinner"></div>
  <div class="loading-text font-bold">Cargando...</div>
</div>