<header>
  <app-header *ngIf="dashboardUser"></app-header>
</header>

<body>
  <router-outlet></router-outlet>
</body>

<footer *ngIf="dashboardUser">
  <app-footer></app-footer>
</footer>

<span>
  <p-toast class="hidden md:block" position="top-right"></p-toast>
  <p-toast class="w-full block md:hidden" position="top-center"></p-toast>
</span>

<div id="icon-up" class="icon-up cursor-pointer">
  <a (click)="toUpHeader()" class="back-to-top
  fixed inline-flex items-center justify-center	decoration-0 w-10 h-10 md:w-8 md:h-9 z-40">
    <span>
      <!-- <i class="fa-solid fa-angles-up"></i> -->
      <i class="fa-solid fa-angles-up w-6 h-6"></i>
    </span>
  </a>
</div>

<div *ngIf="ToastService.showOverlay" class="spinner-container">  
  <div class="loader"></div>
  <div class="loading-text font-bold pt-6 text-white tracking-widest">Cargando</div>
</div>