<section class="py-20 flex items-center justify-center">

    <div class="bg-white p-8 rounded-xl shadow-xl w-5/6 sm:w-3/4 md:w-3/4 lg:w-1/2 xl:w-1/4">
      <h2 class="text-2xl font-semibold mb-4 text-center">Iniciar Sesión</h2>
  
      <form [formGroup]="formLogin" id="formLogin" (ngSubmit)="onLogin()">
        <div class="mb-4">
          <label for="email" class="block text-sm font-medium text-gray-600">Correo Electrónico</label>
          <div class="relative">
            <input class="form-control mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500"
              formControlName="username" type="email" id="username" name="username">
            <i class="absolute top-4 right-3 text-gray-500 fas fa-envelope"></i>
  
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
              <span *ngIf="username.errors?.['required']">User name is required</span>
            </div>
          </div>
        </div>
  
        <div class="mb-4">
          <label for="password" class="block text-sm font-medium text-gray-600">Contraseña</label>
          <div class="relative">
            <input class="form-control mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500"
              formControlName="password" type="password" id="password" name="password">
            <i class="absolute top-4 right-3 text-gray-500 fas fa-lock"></i>
  
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
              <span *ngIf="password.errors?.['required']">Password is required</span>
            </div>
          </div>
        </div>
  
        <div class="mb-4">
          <span *ngIf="formLogin.valid && loginError!=''" class="text-danger">
            {{this.loginError}}
          </span>
        </div>
  
        <div class="flex flex-col items-center justify-center">
          <button type="submit"
            class="bg-blue-500 text-white p-2 rounded-md w-full hover:bg-blue-700">
            <i class="mr-2 fas fa-sign-in-alt"></i> Iniciar Sesión
          </button>
          <a [routerLink]="'/register'" class="text-green-500 mt-4 hover:underline text-sm">
            <i class="mr-2 fas fa-user-plus"></i> Ir a Registrarse
          </a>
        </div>
      </form>
    </div>
  
  </section>
  