<!-- Main modal -->
<div id="crud-modal-user"
    class="modal fixed left-0 top-0 flex md:justify-center md:items-center bg-black bg-opacity-50 w-full h-full md:h-full overflow-y-auto hidden z-30"
    (click)="closeModal()">
    <div class="relative  mx-auto max-w-4xl"  (click)="$event.stopPropagation()">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600">
                <h2 class="text-2xl font-semibold">Registro Usuarios</h2>

                <button type="button" title="close" (click)="closeModal()"
                    class="text-black-400 bg-red-400 hover:bg-red-300 hover:text-red-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-red-700 dark:hover:text-white">
                    <i class="fa-solid fa-xmark"></i>
                    <span class="sr-only">Close</span>
                </button>
            </div>

            <div class="p-6 overflow-y-auto">
                <form [formGroup]="formUser" id="formUser" enctype="multipart/form-data">
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">

                        <div class="col-span-1 sm:col-span-1">
                            <label for="id" class="flex items-center text-gray-700 text-sm font-semibold mb-2">
                                <i class="fa-solid fa-id-card mr-2"></i> Id
                            </label>
                            <input [value]="dataForm?.item?.id" [readOnly]="formReadOnly" class="form-control"
                                formControlName="id" type="number" id="id" name="id" placeholder="id"
                                class="w-full px-3 py-2 border rounded bg-gray-300 focus:outline-none focus:border-blue-500"
                                [readOnly]="true">
                        </div>

                        <div class="col-span-1 sm:col-span-2">
                            <label for="username" class="flex items-center text-gray-700 text-sm font-semibold mb-2">
                                <i class="fa-solid fa-user mr-2"></i>*Email
                            </label>
                            <input [value]="dataForm?.item?.username" [readOnly]="formReadOnly" class="form-control"
                                formControlName="username" type="email" id="username" name="username"
                                placeholder="ejemplo@gmail.com"
                                class="w-full px-3 py-2 border rounded  focus:outline-none focus:border-blue-500"
                                required>

                            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
                                <span *ngIf="username.errors?.['required']">*Campo Requerido</span>
                                <span *ngIf="username.errors?.['email']">*Correo invalido</span>
                            </div>
                        </div>
                    </div>

                    <div class="grid grid-cols-1 gap-1 mb-4 w-full">
                        <div class="col-span-1 sm:col-span-1">
                            <label for="password" class="flex items-center text-gray-700 text-sm font-semibold mb-2">
                                <i class="fa-solid fa-lock mr-2"></i>*Contraseña
                            </label>
                            <input [value]="dataForm?.item?.password" [readOnly]="formReadOnly" class="form-control"
                                formControlName="password" type="password" id="password" name="password"
                                placeholder="contraseña"
                                class="w-full px-3 py-2 border rounded  focus:outline-none focus:border-blue-500"
                                required>

                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                                <span *ngIf="password.errors?.['required']">*Campo requerido</span>
                            </div>
                        </div>
                    </div>

                    <div class="grid grid-cols-2 gap-2 mb-4 w-full">
                        <div class="col-span-3 sm:col-span-1">
                            <label for="firstname" class="flex items-center text-gray-700 text-sm font-semibold mb-2">
                                <i class="fa-solid fa-user-tag mr-2"></i> Firstname
                            </label>
                            <input [value]="dataForm?.item?.firstname" [readOnly]="formReadOnly" class="form-control"
                                formControlName="firstname" type="text" id="firstname" name="firstname"
                                placeholder="nombre"
                                class="w-full px-3 py-2 border rounded  focus:outline-none focus:border-blue-500"
                                >
                        </div>
                        <div class="col-span-3 sm:col-span-1">
                            <label for="lastname" class="flex items-center text-gray-700 text-sm font-semibold mb-2">
                                <i class="fa-solid fa-user-tag mr-2"></i> Apellido
                            </label>
                            <input [value]="dataForm?.item?.lastname" [readOnly]="formReadOnly" class="form-control"
                                formControlName="lastname" type="text" id="lastname" name="lastname"
                                placeholder="apellido"
                                class="w-full px-3 py-2 border rounded  focus:outline-none focus:border-blue-500"
                                >
                        </div>
                    </div>

                    <div class="grid grid-cols-3 gap-4 mb-4">

                        <div class="col-span-3 sm:col-span-1" *ngIf="this.dataForm?.action != 0">
                            <label for="state" class="flex items-center text-gray-700 text-sm font-semibold mb-2">
                                <i class="fa-solid fa-person-circle-question mr-2"></i> State
                            </label>                            
                                 <select name="stateUser" id="stateUser"  
                                 formControlName="state" 
                                 class="form-control w-full px-3 py-2  border rounded  focus:outline-none focus:border-blue-500"
                                 [ngClass]="this.dataForm?.action != 1 ? 'bg-gray-300' : ''"
                                 >
                                 <option *ngFor="let state of statesUser" [value]="state" >
                                     {{state}}
                                 </option>
                             </select>                             
                        </div>

                        <div class="col-span-3 sm:col-span-1" *ngIf="this.dataForm?.action != 0">
                            <label for="role" class="flex items-center text-gray-700 text-sm font-semibold mb-2">
                                <i class="fa-solid fa-briefcase mr-2"></i> Role
                            </label>
                                <select name="role" id="role"  
                                 formControlName="role" 
                                 class="form-control w-full px-3 py-2  border rounded  focus:outline-none focus:border-blue-500"
                                 [ngClass]="this.dataForm?.action != 1 ? 'bg-gray-300' : ''"
                                 >
                                 <option *ngFor="let role of rolesUser" [value]="role" >
                                     {{role}}
                                 </option>
                             </select>  
                        </div>
                    </div>

                    <div class="flex justify-end">
                        <button (click)="formAction()" type="submit" *ngIf="!disableBtnAction"
                            class="bg-green-500 text-white px-20 py-2 rounded hover:bg-green-700">
                            <i class="fas fa-check-circle mr-2"></i> {{this.dataForm?.action == 0 ? 'Agregar Usuario' :
                            'Modificar Usuario' }}
                        </button>

                        <button (click)="formAction()" type="submit" *ngIf="disableBtnAction && dataForm?.action == 2"
                            class="bg-red-500 text-white px-20 py-2 rounded hover:bg-red-700">
                            <i class="fa-solid fa-trash mr-2"></i> Eliminar Usuario
                        </button>

                        <button (click)="closeModal()"
                            class="text-white inline-flex items-center focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-10 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 ml-3"
                            [ngClass]="dataForm?.action==2 ? 'bg-green-500 hover:bg-green-600' : 'bg-red-500 hover:bg-red-600'">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<app-delete-user [idUser]="this.dataForm?.item?.id" (idUserDelete)="eliminarUserList($event)"></app-delete-user>