<div class="copyright">
    <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">

      <p class="text-sm text-center sm:text-left">© 2024 Apexstore —
        <a href="https://www.linkedin.com/in/jhossymarbalderrama/" rel="noopener noreferrer" class="text-blue-500 ml-1" title="developer"
          target="_blank">DevJhossy</a>
      </p>

      <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start gap-2 md:gap-3">
        <a class="hover:transform hover:scale-125 hover:text-blue-600 cursor-pointer"  [href]="linkedin">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a  class="hover:transform hover:scale-125 hover:text-blue-600 cursor-pointer" [href]="github">
          <i class="fa-brands fa-github"></i>
        </a>
        <a class="hover:transform hover:scale-125 hover:text-blue-600 cursor-pointer" >
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="hover:transform hover:scale-125 hover:text-blue-600 cursor-pointer" >
          <i class="fa-brands fa-instagram"></i>
        </a>
      </span>
    </div>
  </div>