<body class="flex items-center justify-center">
  <div class="p-0 py-6 px-4 md:p-8 2xl:mt-10 2xl:m-6 flex flex-col gap-6 lg:rounded-lg">
    <div class="text-center">
      <h1 class="text-2xl md:text-xl lg:text-4xl mb-4 text-white">
        Página en Construcción
      </h1>
      <p class="text-md 2xl:text-lg text-gray-200 mb-8">
        Estamos trabajando en mejorar tu experiencia de compra 🛒.
      </p>
      <div class="loader mx-auto mb-8"></div>
      <p class="text-4xl 2xl:text-5xl py-1">😀</p>
      <p class="text-md 2xl:text-lg text-gray-200">Gracias por tu paciencia.</p>
    </div>
  </div>
</body>