

  body{
    /* min-height: 89vh;     */
    min-height: 80vh;
    /* background: var(--bg-gray-site); */
    /* background-color: rgba(255, 255, 255, 0.329); */
    /* background-color: var(--text-color-site);     */
  }

  h1{
    /* color: var(--text-color-site); */   
  }


  .loader{
    color: white;
  }

  .loader:after{
    color: black;
  }