<ul
    class="
    flex
    flex-col lg:flex-row
    justify-center lg:justify-start
    gap-5
    md:space-x-2

    text-center    
    text-gray-200
    text-xl lg:text-base

    mr-0 lg:mr-5
    mt-4 lg:mt-1
    my-4 lg:my-0

    p-4 lg:p-0">
    <li>
        <a (click)="ngHiddenNavbar()" [routerLink]="'/store'"
            routerLinkActive="menu-view" class="hover:text-blue-500">Tienda</a>
    </li>
    <li>
        <a (click)="ngHiddenNavbar()" [routerLink]="'/about'"
            routerLinkActive="menu-view" class="hover:text-blue-500">Nosotros</a>
    </li>
    <li>
        <a (click)="ngHiddenNavbar()" [routerLink]="'/contact'"
            routerLinkActive="menu-view" class="hover:text-blue-500">Contacto</a>
    </li>
</ul>