
.menu-view{
    color: var(--bg-blue-site);
}

li{
    /* text-shadow: 0px 0px 8px black; */
}

li:hover{
    transition: 0.2s all ease ;
    transform: scale(1.1);
}

a{
    user-select: none;
    outline: none;
}
