<ul
    class="font-medium flex flex-col justify-center lg:justify-start p-4 md:p-0 mt-4 border border-gray-100 rounded-lg  md:flex-row md:space-x-2 rtl:space-x-reverse md:mt-0 md:border-0  dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
    <li>
        <a class="mr-5 hover:text-gray-900 font-semibold cursor-pointer" (click)="ngHiddenNavbar()" routerLink="/home"
            routerLinkActive="menu-view">
            Home</a>
    </li>
    <li>
        <a class="mr-5 hover:text-gray-900 font-semibold cursor-pointer" (click)="ngHiddenNavbar()" routerLink="/store"
            routerLinkActive="menu-view">Tienda</a>
    </li>
    <li>
        <a class="mr-5 hover:text-gray-900 font-semibold cursor-pointer" (click)="ngHiddenNavbar()" routerLink="/about"
            routerLinkActive="menu-view">Nosotros</a>
    </li>
    <li>
        <a class="mr-5 hover:text-gray-900 font-semibold cursor-pointer" (click)="ngHiddenNavbar()" routerLink="/contact"
            routerLinkActive="menu-view">Contacto</a>
    </li>
</ul>