/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

html {
    scroll-behavior: smooth;
}

:root {
    --color-site: #228BE6;
    --color-site-1: #6875F5;
    --color-site-hover: #4f5abe;
    --color-site-hover-transparent: #4f5abeab;

    /* --color-site: #5B00F1;     */
    --color-site-2: #3F3697;
    --color-site-3: #050575;
    --color-site-4: #4153f7;
    /* ?  -------------------------------------------------- */
    --text-color-site: #228BE6;
    --text-color-gray: #b4bac0;

    --bg-gray-site: #F5F5F5;
    --bg-gray-site-2: #151922;
    --bg-gray-site-3: #0e1014;

    --bg-blue-site: #228BE6;
    --bg-blue-site-h: #194170;
    /* ?  -------------------------------------------------- */
}

/* ? Estilos Scroll */
::-webkit-scrollbar {
    width: 0.8em;
    height: 14px;
}

::-webkit-scrollbar-thumb {
    background: var(--bg-blue-site);
}

::-webkit-scrollbar-track {
    background: #171717;
}

.text-color-site {
  fill: white !important;
  color: white !important;
}


.bg-color-site {
    background: var(--color-site);
}

.txt-bld {
    font-weight: bold;
}

.txt-bldr {
    font-weight: bolder;
}

/* Style Texts Alerts */

.text-danger {
    color: #e00101;
}

.text-succes {
    color: #00b800;
}

.text-warning {
    color: #ff9100;
}

.text-info {
    color: #00ccff;
}


/* Styles Buttons */
.btn-animate {
    cursor: pointer;
}

.btn-animate:hover {
    transform: scale(1.2);
    transition: 0.5s ease all;
}

.btn-animate:not(:hover) {
    transform: scale(1);
    transform: 0.8s ease all;
}

.filter-drop-shadow-sm {
    filter: drop-shadow(1px 1px black);
}

.filter-drop-shadow-md {
    filter: drop-shadow(2px 2px black);
}

.filter-drop-shadow-lg {
    filter: drop-shadow(4px 4px black);
}

.show-opacity {
    opacity: 100%;
}

.hidden-opacity {
    opacity: 0%;
}

.bg-dashboard{
  /* background-color: #0e0e0ee3 !important;     */
  background-color: #0e0e0ed5 !important;    
}

/* * Icon To Up */

.icon-up {
    display: none;
}

.back-to-top {
    bottom: 1.3rem;
    right: 1.3rem;
}

.back-to-top span {
    color: var(--color-site);
    transition: 0.2s ease-out;
}


.back-to-top:hover span {
    transform: translateY(-6px);
}

/* * Spinner Site */
.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #080808ad;
    z-index: 9999;
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: var(--bg-blue-site);
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: white;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .31em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .31em .31em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .31em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.31em .31em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.31em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.31em -.31em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.31em 0 0 currentcolor;
    }
    87% {
      box-shadow: .31em -.31em 0 0 currentcolor;
    }
  }


hr {
    margin: 0rem 10%;
    /* border: 2px solid #6876f5e7; */
    border: 2px solid var(--color-site);
}

* {
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: Arial, Helvetica, sans-serif;
}


@media screen and (min-width: 1024px) {
    .back-to-top>span>i {
        width: 3vw;
        height: 5vh;
    }
}

/* 

Contenedor: bg-gray-200 bg-opacity-80

Hijos: bg-gray-100 bg-opacity-60

.toLocaleString('es-ES')

#3E6689 azul oscuro


body: px-4 py-2
son body: p-8 2xl:mt-10 2xl:m-6


Titles h3(title) text-2xl 2xl:text-3xl
      h4 text-sm 2xl:text-md
Subitle: text-xl 2xl:text-2xl


      img: w-48 h-48 2xl:w-56 2xl:h-56
*/