<div id="default-carousel" class="relative w-full z-10" data-carousel="slide">
  <!-- ? Slider -->
  <div class="relative overflow-hidden min-h-[75vh] md:min-h-[75vh]">
    <div *ngFor="let item of data.getDataSliderHome; let i = index" [ngClass]="{ hidden: i !== 0 }"
      class="duration-700 ease-in-out" data-carousel-item>
      <div class="relative w-full h-full">
        <img [src]="item" class="absolute inset-0 w-full h-full object-cover" alt="Slider image" />
        <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
        <div class="absolute inset-0 bg-gradient-to-b from-black/100 via-transparent to-transparent"></div>
      </div>
    </div>
  </div>

  <!-- ? Navigate -->
  <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
    <button *ngFor="let item of data.getDataSliderHome; let i = index" type="button" class="w-3 h-3 rounded-full"
      [attr.aria-current]="i === 0 ? 'true' : 'false'" [attr.aria-label]="'Slide ' + (i + 1)"
      [attr.data-carousel-slide-to]="i"></button>
  </div>

  <!-- ? Right Btn -->
  <button type="button"
    class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-prev>
    <span>
      <i class="fa-solid fa-angle-left text-white font-bold text-3xl"></i>
      <span class="sr-only">Siguiente</span>
    </span>
  </button>

  <!-- ? Left Btn -->
  <button type="button"
    class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-next>
    <span>
      <i class="fa-solid fa-angle-right text-white font-bold text-3xl"></i>
      <span class="sr-only">Anterior</span>
    </span>
  </button>
</div>
