<body class="h-full lg:px-2 lg:py-2 2xl:pt-11 z-10">
  <div
    class="h-full w-full flex flex-col items-center gap-4 px-2 py-8 lg:py-4 rounded-lg bg-zinc-900"
  >
    <!-- <div class="pt-4 pb-2 px-1 pl-3">
            <a href="/home">
                <img [src]="logo_site" height="auto" width="90%" />
            </a>
        </div> -->
    <div
      class="w-full h-full flex flex-col items-start text-white gap-2 sm:gap-1 2xl:gap-2"
    >
      <a
        (click)="navClose()"
        routerLink="/dashboard/home"
        id="home"
        class="flex gap-3 py-2 2xl:py-3 px-1 2xl:px-2 w-full bg-hover-activate bg-gray-800"
        routerLinkActive="bg-activate"
      >
        <i class="fas fa-home w-6 2xl:w-6"></i>
        <span class="text-xs 2xl:text-md">Home</span>
      </a>

      <a
        (click)="navClose()"
        routerLink="/dashboard/profile"
        id="profile"
        class="flex gap-3 py-2 2xl:py-3 px-1 2xl:px-2 w-full bg-hover-activate bg-gray-800"
        routerLinkActive="bg-activate"
      >
        <i class="fas fa-user w-6 2xl:w-6"></i>
        <span class="text-xs 2xl:text-md">Mi Perfil</span>
      </a>

      <a
        (click)="navClose()"
        routerLink="/dashboard/shopping-cart"
        id="shopping-cart"
        class="flex gap-3 py-2 2xl:py-3 px-1 2xl:px-2 w-full bg-hover-activate bg-gray-800"
        routerLinkActive="bg-activate"
      >
        <i class="fa-solid fa-cart-shopping w-6 2xl:w-6"></i>
        <span class="text-xs 2xl:text-md">Carrito</span>
      </a>

      <a
        (click)="navClose()"
        [routerLink]="
          this.AuthService.svADM ? '/dashboard/products' : this.router.url
        "
        id="products"
        class="flex gap-3 py-2 2xl:py-3 px-1 2xl:px-2 w-full bg-hover-activate bg-gray-800"
        [ngClass]="this.AuthService.svADM ? '' : 'bg-gray-900 text-gray-500'"
        [routerLinkActive]="this.AuthService.svADM ? 'bg-activate' : ''"
      >
        <i class="fas fa-box w-6 2xl:w-6"></i>
        <span class="text-xs 2xl:text-md"
          >Productos
          <span class="text-red-500 text-[9px] 2xl:text-[10px] uppercase"
            >(adm)</span
          >
        </span>
      </a>

      <a
        (click)="navClose()"
        routerLink="/dashboard/store"
        id="store"
        class="flex gap-3 py-2 2xl:py-3 px-1 2xl:px-2 w-full bg-hover-activate bg-gray-800"
        routerLinkActive="bg-activate"
      >
        <i class="fa-solid fa-store w-6 2xl:w-6"></i>
        <span class="text-xs 2xl:text-md">Tienda</span>
      </a>

      <a
        (click)="navClose()"
        routerLink="/dashboard/shopping-history"
        id="shopping-history"
        class="flex gap-3 py-2 2xl:py-3 px-1 2xl:px-2 w-full bg-hover-activate bg-gray-800"
        routerLinkActive="bg-activate"
      >
        <i class="fa-solid fa-boxes-packing w-6 2xl:w-6"></i>
        <span class="text-xs 2xl:text-md">Historial de compras</span>
      </a>

      <a
        (click)="navClose()"
        [routerLink]="
          this.AuthService.svADM ? '/dashboard/articles' : this.router.url
        "
        id="articles"
        class="flex gap-3 py-2 2xl:py-3 px-1 2xl:px-2 w-full bg-hover-activate bg-gray-800"
        [ngClass]="this.AuthService.svADM ? '' : 'bg-gray-900 text-gray-500'"
        [routerLinkActive]="this.AuthService.svADM ? 'bg-activate' : ''"
      >
        <i class="fas fa-newspaper w-6 2xl:w-6"></i>
        <span class="text-xs 2xl:text-md"
          >Articulos
          <span class="text-red-500 text-[9px] 2xl:text-[10px] uppercase"
            >(adm)</span
          >
        </span>
      </a>

      <a
        (click)="navClose()"
        [routerLink]="
          this.AuthService.svADM ? '/dashboard/orders' : this.router.url
        "
        id="orders"
        class="flex gap-3 py-2 2xl:py-3 px-1 2xl:px-2 w-full bg-hover-activate bg-gray-800"
        [ngClass]="this.AuthService.svADM ? '' : 'bg-gray-900 text-gray-500'"
        [routerLinkActive]="this.AuthService.svADM ? 'bg-activate' : ''"
      >
        <i class="fa-solid fa-clipboard-list w-6 2xl:w-6"></i>
        <span class="text-xs 2xl:text-md"
          >Ordenes
          <span class="text-red-500 text-[9px] 2xl:text-[10px] uppercase"
            >(adm)</span
          >
        </span>
      </a>

      <a
        (click)="navClose()"
        [routerLink]="
          this.AuthService.svADM ? '/dashboard/list-users' : this.router.url
        "
        id="list-users"
        class="flex gap-3 py-2 2xl:py-3 px-1 2xl:px-2 w-full bg-hover-activate bg-gray-800"
        [ngClass]="this.AuthService.svADM ? '' : 'bg-gray-900 text-gray-500'"
        [routerLinkActive]="this.AuthService.svADM ? 'bg-activate' : ''"
      >
        <i class="fa-solid fa-address-book w-6 2xl:w-6"></i>
        <span class="text-xs 2xl:text-md"
          >Usuarios
          <span class="text-red-500 text-[9px] 2xl:text-[10px] uppercase"
            >(adm)</span
          >
        </span>
      </a>

      <a
        (click)="navClose()"
        [routerLink]="
          this.AuthService.svADM ? '/dashboard/analytics' : this.router.url
        "
        id="analytics"
        class="flex gap-3 py-2 2xl:py-3 px-1 2xl:px-2 w-full bg-hover-activate bg-gray-800"
        [ngClass]="this.AuthService.svADM ? '' : 'bg-gray-900 text-gray-500'"
        [routerLinkActive]="this.AuthService.svADM ? 'bg-activate' : ''"
      >
        <i class="fa-solid fa-chart-pie w-6 2xl:w-6"></i>
        <span class="text-xs 2xl:text-md"
          >Estadisticas
          <span class="text-red-500 text-[9px] 2xl:text-[10px] uppercase"
            >(adm)</span
          >
        </span>
      </a>
    </div>
  </div>
</body>
