
div a {
    border-radius: 0.2rem;
}
a:hover {
     color: white !important;
     fill: white !important;
 }

 .menu-view {
     color: #6875F5;
 }

 .bg-activate{
    background-color: #228BE6 !important;
 }

 .bg-hover-activate:hover{
    background-color: #228be6d2 !important;
 }

 /* Estilos para la línea horizontal */
 .menu-view::after {
     content: '';
     display: block;
     background-color: #6875F5;
     height: 2px;
     width: 100%;
     position: absolute;
     bottom: 0;
     left: 0;
     transform: scaleX(0);
     /* Inicialmente invisible */
     transform-origin: bottom left;
     transition: transform 0.3s ease-in-out;
 }

 /* Estilos cuando el enlace está activo o en hover */
 .menu-view:hover::after,
 .menu-view.router-link-active::after {
     transform: scaleX(1);
     /* Hace visible la línea horizontal al pasar el ratón o cuando el enlace está activo */
 }

 .bg-menu {

     background: #0e1014;
    /* background: -webkit-linear-gradient(to top, #161616, #383838);
    background: linear-gradient(to top, #161616, #383838); */

    /* background: linear-gradient(to bottom, #0e1014c2, #0e1014); */
 }